#content{
    background-color: goldenrod;
    width: 960px;
    margin: 0 auto;
    border-right: solid 10px gold ;
    border-left: solid 10px gold ;
    height: 1000px;
}

h1{
   text-align: center;
text-transform: capitalize;

}

.right{
    float: right;
    height: 300px;
}

.bio{
  float: left; 
  width: 400px;
  border: solid 3px yellow; 
  background-color: lightgray;
}

p{
    text-align: justify;
}
 .clr{
    float: left;
}

a{
    color: yellow;
    /* text-decoration: none; */
}
a:visited{
    color: yellow;
}
a:hover{
    color: red;
}
